*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    border-radius:15px;
    width:350px;
    text-align:center;
}

h1{
    margin-bottom:20px;
}

.search-box{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

input{
    flex:1;
    padding:10px;
}

button{
    padding:10px 15px;
    cursor:pointer;
}

.weather-card h1{
    font-size:50px;
    margin:10px 0;
}

.details{
    margin-top:15px;
}
